<h1>This is hello.handlebars</h1>

<textarea name="cm" id="cm" cols="100" rows="18">
 {{message}}

</textarea>

<form method="POST" action="/say">
    <input name="say" type="text"></input>
    <button>Say!</button>
</form>
